---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirection Page</title>
</head>
<body>
<script>
  // Redirige a la página 'en/curriculum'
  window.location.href = 'en/curriculum';
</script>
</body>
</html>
