---
import Curriculum from "../layouts/Curriculum.astro";
import CurriculumSection from "../components/Curriculum/CurriculumSection";
import Skills from "../components/Curriculum/Skills";
import RecentWorks from "../components/RecentWorks";
import Education from "../components/Curriculum/Education";
---

<Curriculum>
    <div class="bg-white w-[8.5in] h-fit max-w-full mx-auto">
        <header>
            <p class="text-4xl font-bold uppercase">Raquel Jackson</p>
            <p class="text-xl font-semibold text-orange-400">Full Stack Developer</p>

            <div class="grid grid-cols-2 gap-2 my-4">
                <div>
                    <p>
                        <i class="fa fa-location-dot text-orange-300 mr-0.5" />
                        San Pedro Sula, Honduras
                    </p>

                    <p>
                        <i class="fa fa-phone text-orange-300 mr-0.5" />
                        (+504) 9715-7277 / (+504) 3146-1429
                    </p>

                    <p>
                        <i class="fa fa-envelope text-orange-300 mr-0.5" />
                        r.jackson@msn.com
                    </p>
                </div>

                <div>
                    <p>
                        <i class="fa fa-brands fa-linkedin text-orange-300 mr-0.5" />
                        <a href="http://linkedin.com/in/raquel-jackson" target="_blank">http://linkedin.com/in/raquel-jackson</a>
                    </p>

                    <p>
                        <i class="fa fa-brands fa-square-github text-orange-300 mr-0.5" />
                        <a href="https://github.com/rj4ck" target="_blank">https://github.com/rj4ck</a>
                    </p>
                </div>
            </div>
        </header>

        <CurriculumSection title="Summary" content="Enthusiastic Full Stack Developer with a proven track record in ReactJS, React Native, VueJS, MongoDB, AWS, and more. Proficient in creating interactive user interfaces and scalable backend solutions. Passionate about contributing to innovative software solutions and embracing new challenges within a dynamic work environment. Committed to delivering high-quality technology solutions and eager to support architectural solutions across the stack while working alongside ambitious companies. Eager to bring my expertise in TypeScript/Node to help build impactful products with your team."/>

        <CurriculumSection title="Skills" >
            <Skills />
        </CurriculumSection>

        <CurriculumSection title="languages">
            <div class="flex justify-evenly m-2">
                <div>Spanish: <span class="bg-orange-300 rounded-3xl px-2 py-1 text-sm">Native</span></div>
                <div>English: <span class="bg-orange-300 rounded-3xl px-2 py-1 text-sm">Intermediate (B2)</span></div>
            </div>
        </CurriculumSection>

        <CurriculumSection title="Experience" >
            <RecentWorks showTimeline={false} />
        </CurriculumSection>

        <CurriculumSection title="Education">
            <Education title="General English - Intermediate" startDate="02/2024" endDate="07/2024" location="Dublin, Ireland" school="SEDA College" />
            <Education title="Design and Project Management" startDate="01/2022" location="La Rioja, España" school="Universidad Internacional de La Rioja" />
            <Education title="Industrial and Systems Engineering" startDate="01/2008" endDate="12/2012" location="San Pedro Sula, Honduras" school="Universidad Jesús de Nazaret" />
        </CurriculumSection>


    </div>

</Curriculum>
