---
import Layout from '../layouts/Layout.astro';
import Summary from '../components/Summary.astro';
import Section from '../components/Sections.astro';
import RecentWork from '../components/RecentWork.astro';
---

<Layout title="Raquel Jackson">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <Summary class="lg:col-span-1" />

        <div class="lg:col-span-2 overflow-auto bg-gray-200 p-8 grid grid-cols-1 divide-y-2 text-gray-400">
            <Section title="Recent works!">
                <RecentWork />
            </Section>
        </div>
    </div>
</Layout>
