---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Summary from '../components/Summary.astro';
---

<Layout title="Raquel Jackson">
	<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
		<Summary />
		<div class="h-screen bg-gray-200 lg:col-span-2"></div>
	</div>
</Layout>
