---
import Layout from '../layouts/Layout.astro';
import Summary from '../components/Summary.astro';
import Section from '../components/Sections.astro';
import WorkCard from "../components/WorkCard.astro";

const recentProjects = await Astro.glob("../recent-projects/*.md")
---

<Layout title="Raquel Jackson">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <Summary class="lg:col-span-1" />

        <div class="lg:col-span-2 overflow-auto bg-gray-200 p-8 grid grid-cols-1 divide-y-2 text-gray-400">
            <Section title="Recent works!">

                <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                    {recentProjects.map(project => (
                      <WorkCard links={project?.frontmatter?.links} title={project?.frontmatter?.title} tags={project?.frontmatter?.tags} description={project?.frontmatter?.description} />
                    ))}
                </div>

            </Section>

            <Section title="Skills">

                <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                    <ul>
                        <li>TypeScript</li>
                        <li>ExpressJS</li>
                        <li>NestJS</li>
                        <li>MongoDB</li>
                        <li>GraphQL</li>
                        <li>ReactJS/Native</li>
                        <li>Flutter</li>
                        <li>AstroJS</li>
                        <li>QwikJS</li>
                    </ul>

                    <ul>
                        <li>AWS</li>
                        <li>Firebase</li>
                    </ul>
                </div>

            </Section>
        </div>
    </div>
</Layout>
