---
import type { Code, Debug } from 'astro:components'
import WorkCard from './WorkCard.astro'

interface IProject {
    title: string;
    role: string;
    tags: string[],
    description: string;
}

const projects: IProject[] = [
    {
        title: "Monteflor APP",
        role: "Developer",
        tags: ["React", "Mongo DB", "ExpressJS"],
        description: "Monteflor is a florist based in Tegucigalpa, Honduras, specializing in the creation of floral arrangements and their prompt delivery within the city's metropolitan area. Currently, I am closely collaborating with Monteflor in the development of its application for purchasing and delivering floral arrangements, as well as in the development and maintenance of the administrative panel and server."
    },
    {
        title: "Pistoo APP",
        role: "Developer",
        tags: ["Flutter"],
        description: "Pistoo is an entrepreneurial endeavor being developed with a group of friends in Honduras. Our project aims to provide customers with greater control over their personal finances and expenses."
    }
]
---
<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
        projects.map((project: IProject) => (
        <WorkCard {...project} />
        ))
    }
</div>