---
---

<div class="justify-self-end">
    <a href="https://www.linkedin.com/in/raquel-jackson" target="_blank" class="hover:text-orange-500">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>

    <a href="https://github.com/rj4ck" target="_blank" class="hover:text-orange-500">
        <i class="fa-brands fa-github-alt"></i>
    </a>

</div>