---
import Hero from './Hero.astro';
import SocialMedia from './SocialMedia.astro'
---

<div class="h-screen text-white flex flex-col items-center justify-between p-6">
    <Hero />

    <SocialMedia />
</div>