---
import DevIcon from "./icons/DevIcon";

interface Links {
    url: string;
    name: string;
}
interface Props {
    role: string;
    title: string;
    image: string;
    tags: string[];
    links?: Links[];
    description: string;
}

const { role, image, tags, title, links, description } = Astro.props;
---
<div class="rounded-md border-[0.05rem] group relative block bg-white hover:bg-gray-800 hover:text-white hover:cursor-pointer shadow-md transition hover:border-orange-500/50 hover:shadow-orange-500/50">
    <div class="flex items-start gap-4 p-3 sm:p-5 lg:p-7">
        <a href="#" class="block shrink-0">
            <DevIcon />
        </a>

        <div>
            <h3 class="font-medium sm:text-lg">
                <a href="#" class="hover:underline"> {title} </a>
            </h3>

            <p class="text-sm my-1">
                {description}
            </p>

            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                <p class="line-clamp-2 text-sm mt-2">
                    {links && links.map((link: Links) => (
                      <a role="button" href={link.url} target="_blank" class="text-[0.7rem] no-underline hover:underline mr-2">
                          {link.name}
                      </a>
                    ))}
                </p>
            </div>

        </div>
    </div>
</div>
