---
import "@fortawesome/fontawesome-free/css/all.css";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title="Raquel Jackson | Curriculum" description="Raquel Jackson - Curriculum" />

	<body class="w-full h-screen bg-white flex justify-center">
  <slot />
	</body>
</html>
