---
import "@fortawesome/fontawesome-free/css/all.css";
import BaseHead from "../components/BaseHead.astro";

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<BaseHead title="Raquel Jackson" description="Raquel Jackson - Portfolio" />

	<body>
		<slot />
	</body>
</html>
