---
import "@fortawesome/fontawesome-free/css/all.css";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead title="Raquel Jackson" description="Raquel Jackson - Portfolio" />

	<body>
		<slot />
	</body>
</html>
